language: node_js
node_js:
 - "node"

services:
 - docker

before_install:
 - cd cdp-2018
 - npm install jest puppeteer firebase

install:
 - docker build -t myapp .
 - docker run -d -p 8081:8080 --name myapp myapp

script:
 - docker ps | grep -i myapp
 - npm test login.js
 - npm test newProject.js
 - npm test logout.js
