language: node_js
node_js:
- node
services:
- docker
before_install:
- cd cdp-2018
install:
- docker build -t myapp .
- docker run -d -p 8081:8080 --name myapp myapp

addons:
  sonarcloud:
    organization: "maphdev-github"

before_script:
  - cd ..

script:
  # other script steps might be done before running the actual analysis
  - docker ps | grep -i myapp
  - sonar-scanner
