<nav>
  <div class="menu-icon">
    <i class="fa fa-bars fa-2x"></i>
  </div>
  <div class="logo">
    CDP
  </div>
  <div class="menu">
    <ul>
      <li id="menu-list"><i class="fas fa-list"></i>&emsp;<a href="/">Liste des Projets</a></li>
      <li><i class="fas fa-user"></i>&emsp;<a id="menu-connect" href=""></a></li>
    </ul>
  </div>
</nav>
