<!DOCTYPE html>
<html lang="fr">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

    <header>
        <% include ../partials/menu %>
    </header>

    <sidebar>
      <% include ../partials/sidebar %>
    </sidebar>

    <main id="main-project">
      <div class="container-fluid">

      </div>
    </main>

  </body>
</html>
