<!DOCTYPE html>
<html lang="fr">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="Absolute-Center-Menu container" style="text-align:center">
        <% if(locals.projectId != null) { %>
          <h1><%= project.name %></h1>
          <p><%= project.description %></p>
          <p><%= project.durationSprint %></p>
          <p><%= project.startingDay %></p>
          <div>
            <a id="settings-project-button" class="btn btn-primary" href="/settings">Settings</a>
          </div>
        <%}%>
    </div>
    </main>
    
  </body>
</html>
