<!DOCTYPE html>
<html lang="fr">
  <head>
      <% include ../partials/head.ejs %>
  </head>
  <body>

    <header>
        <% include ../partials/menu.ejs %>
    </header>

    <sidebar>
      <% include ../partials/sidebar.ejs %>
    </sidebar>

    <main id="main-project">
      <div class="container-fluid">
        <div class="jumbotron text-center">
          Récapitulatif du projet
        </div>
      </div>
    </main>

  </body>
</html>
