<!DOCTYPE html>
<html lang="fr">
  <head>
      <% include ../partials/head %>
  </head>
  <body class="background-form">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="container">
       <div class="row">
         <form method="post" action="/settings" id="form" class="Absolute-Center Absolute-Center-Menu is-Responsive card-form rounded" style="min-height: 550px;">
           <h3 class="text-center">Options</h3>
           <br>
           <div class="form-group">
             <label for="inputName">Nom du projet</label>
             <input type="text" id="form_name" class="form-control" placeholder="Nom du projet" minlength="1" value='<%= project.name %>' name="name">
           </div>
           <div class="form-group">
             <label for="inputDescription">Description</label>
             <input type="text" id="form_description" class="form-control" placeholder="..." value='<%= project.description %>' name="description">
           </div>
           <div class="form-group">
             <label for="inputSprintLength">Durée du sprint</label>
             <input type="number" id="form_sprint_length" class="form-control" placeholder="Durée du sprint (jours)" min="0" value='<%= project.durationSprint %>' name="durationSprint">
           </div>
           <div class="form-group">
             <label for="inputStartDay">Date de début du sprint</label>
             <input type="text" id="form_start_day" class="form-control" placeholder="jj-mm-aaaa" value='<%= project.startingDay %>' name="startingDay">
           </div>
           <br>
           <%if(locals.userId != null){%>
             <input type="submit" value="Valider" class="btn btn-primary" id="modify_button">
           <%}%>
           <a class="btn btn-danger" id="cancel_button" href="/project">Annuler</a>
         </form>
       </div>
      </div>
    </main>

    <%if(locals.userId == null){%>
      <script>
        $("input").prop('disabled', true);
        $("#modify_button").hide();
      </script>
    <%}%>

  </body>
</html>
