<!DOCTYPE html>
<html lang="fr">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="Absolute-Center Absolute-Center-Menu is-Responsive text-center" style="width:100px;">
        <a id="create-project-button" class="btn btn-primary" href="/createProject">Créer un projet</a>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

    <script>
    if (window.localStorage.getItem("userId") != null){
      $("#create-project-button").show();
    } else {
      $("#create-project-button").hide();
    }

    $("#menu-list").hide();
    </script>

  </body>
</html>
