<!DOCTYPE html>
<html lang="fr">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      index
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

  </body>
</html>
