<!DOCTYPE html>
<html lang="fr">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="Absolute-Center-Menu container" style="text-align:center">
      <h1 id="project-title"></h1>
      <div>
        <a id="settings-project-button" class="btn btn-primary" href="/settings">Settings</a>
      </div>
    </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

  </body>
</html>
