<!DOCTYPE html>
<html lang="fr">
  <head>
      <% include ../partials/head %>
  </head>
  <body class="background-form">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="container">
       <div class="row">
         <form id="form" class="Absolute-Center Absolute-Center-Menu is-Responsive card-form rounded" style="min-height: 550px;">
           <h3 class="text-center">Options</h3>
           <br>
           <div class="form-group">
             <label for="inputName">Nom du projet</label>
             <input type="text" id="form_name" class="form-control" placeholder="Nom du projet" minlength="1" required name="name">
           </div>
           <div class="form-group">
             <label for="inputDescription">Description</label>
             <input type="text" id="form_description" class="form-control" placeholder="..." name="description">
           </div>
           <div class="form-group">
             <label for="inputSprintLength">Durée du sprint</label>
             <input type="number" id="form_sprint_length" class="form-control" placeholder="Durée du sprint (jours)" min="0" value="14" required name="sprintLength">
           </div>
           <div class="form-group">
             <label for="inputStartDay">Date de début du sprint</label>
             <input type="text" id="form_start_day" class="form-control" placeholder="jj-mm-aaaa" required name="startDay">
           </div>
           <br>
           <input type="submit" value="Valider" class="btn btn-primary" id="modify_button">
           <a class="btn btn-danger" id="cancel_button" href="/project">Annuler</a>
         </form>
       </div>
      </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>


    <script>
      function getProject(id){
        firebase.database().ref().child('projects').child(id).on('value', function(snap) {
          if(snap.val()){
            $("#form_name").attr('placeholder', snap.val().name);
            $("#form_description").attr('placeholder',snap.val().description);
            $("#form_sprint_length").attr('value', snap.val().durationSprint);
            $("#form_start_day").attr('placeholder', snap.val().startingDay);
          }
        });
      }
      getProject(window.localStorage.getItem('projectID'));

      if (window.localStorage.getItem("userId") == null){
        $("input").prop('disabled', true);
      }
    </script>
  </body>
</html>
