<div id="mySidenav" class="sidenav">
   <ul class="mainmenu">
     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-angle-double-left fa-lg"></i></a>
     <a href="/project" id="sidebar-project-name"> <%= project.name %> </a>
     <li><a href="/backlog" style="text-decoration: none;">Backlog</a></li>
     <li><a href="" style="text-decoration: none;">Sprints</a>
       <ul class="submenu">
         <% if(locals.userId != null) { %>
           <li><a href="/sprint/createSprint" style="text-decoration: none;">Créer un sprint &nbsp;<i class="fas fa-plus-circle"></i></a></li>
         <%}%>
         <% project.sprints.forEach(function(sprint){ %>
           <form method="post" action="/deleteDevFromProject">
             <li><a href="/sprint/<%= sprint.id %>" style="text-decoration: none;">Sprint <%= sprint.id %></a></li>
           </form>
         <% }) %>
       </ul>
     </li>
     <li><a href="" style="text-decoration: none;">Releases</a></li>
     <li><a href="" style="text-decoration: none;">Tests</a></li>
     <li><a href="" style="text-decoration: none;">Burn Down Chart</a></li>
     <li><a href="/settings" style="text-decoration: none; position:fixed; bottom:0; width: 250px;"><i class="fas fa-cog"></i> Paramètres</a></li>
   </ul>
</div>

<span onclick="openNav()" id="sidenav-logo"><i class="fas fa-angle-double-right fa-3x sidenav-logo"></i></span>

<script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main-project").style.marginLeft = "250px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main-project").style.marginLeft = "60px";
}
</script>
