<div id="mySidenav" class="sidenav">
   <ul class="mainmenu">
     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-angle-double-left fa-lg"></i></a>
     <li><a href="/backlog" style="text-decoration: none;">Backlog</a></li>
     <li><a href="" style="text-decoration: none;">Sprints</a>
       <ul class="submenu">
         <!--
         <li><a href="" style="text-decoration: none;">Sprint 1</a></li>
         <li><a href="" style="text-decoration: none;">Sprint 2</a></li>
         <li><a href="" style="text-decoration: none;">Sprint 3</a></li>
         -->
         <% project.sprints.forEach(function(sprint){ %>
           <form method="post" action="/deleteDevFromProject">
             <li><a href="/sprint/<%= sprint.id %>" style="text-decoration: none;">Sprint <%= sprint.id %></a></li>
           </form>
         <% }) %>
       </ul>
     </li>
     <li><a href="" style="text-decoration: none;">Releases</a></li>
     <li><a href="" style="text-decoration: none;">Tests</a></li>
     <li><a href="" style="text-decoration: none;">Burn Down Chart</a></li>
     <li><a href="/settings" style="text-decoration: none; position:fixed; bottom:0; width: 250px;"><i class="fas fa-cog"></i> Paramètres</a></li>
   </ul>
   <!--
   <a href="/backlog" style="text-decoration: none;">Backlog</a>
   <a href="#" style="text-decoration: none;">Sprints</a>
   <a href="#" style="text-decoration: none;">Gestion des releases</a>
   <a href="#" style="text-decoration: none;">Gestion des tests</a>
   <a href="#" style="text-decoration: none;">Burn Down Chart</a>
   <a href="/settings" style="text-decoration: none;">Paramètres du projet</a>
   -->
</div>

<span onclick="openNav()" id="sidenav-logo"><i class="fas fa-angle-double-right fa-3x sidenav-logo"></i></span>

<script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main-project").style.marginLeft = "250px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main-project").style.marginLeft = "60px";
}
</script>
